<ion-view view-title="租户通"><ion-content scrollbar-x="false" class="module-index stable-bg"><ion-refresher class="positive" pulling-icon="ion-ios-arrow-down positive" spinner="ripple" on-refresh="$ctrl.refresh(false)"></ion-refresher><ng-include src="$ctrl.template.url" flex layout></ng-include><script type="text/ng-template" id="index-tmpl-default.html"><div class="index-weather">
                <iframe id="index-tmpl-default-iframe" class="invisible" frameborder="0" scrolling="no" width="100%" height="92px" allowTransparency="true"></iframe>
            </div>
            <div class="row row-center row-no-padding index-line-horizontal">
                <div class="col text-center index-line-vertical">
                    <h4>账户余额</h4>
                    <div>
                        <h3 class="inline calm" ng-bind="$ctrl.cash"></h3>
                        <small>元</small>
                    </div>
                </div>
                <div class="col text-center">
                    <h4>本月已用</h4>
                    <div>
                        <h3 class="inline assertive" ng-bind="$ctrl.monthlyCost"></h3>
                        <small>元</small>
                    </div>
                </div>
            </div>
            <div class="row row-wrap row-center row-no-padding index-apps">
                <div class="col col-25 text-center" ng-repeat="item in $ctrl.template.basic|orderBy:'sort' track by $index">
                    <a class="button" ng-if="item.state" ng-style="::{backgroundColor:item.bgColor}" ui-sref="{{item.state}}">
                        <i ng-class="item.icon" ng-style="::{color:item.iconColor}"></i>
                    </a>
                    <div ng-style="::{color:item.bgColor}" ng-bind="item.label" ng-if="item.state"></div>
                </div>
            </div>
            <div class="row row-wrap row-center row-no-padding index-apps-third">
                <div class="col col-25 text-center" ng-repeat="item in $ctrl.template.third|orderBy:'sort' track by $index" ng-style="{borderBottomWidth:($index+1)>($ctrl.template.third.length-($ctrl.template.third.length%4||4))?0:'1px'}">
                    <a class="button" ui-sref="{{item.state}}" ng-if="item.state">
                        <i ng-class="item.icon" ng-style="::{color:item.iconColor}"></i>
                    </a>
                    <a class="button" ng-href="{{item.target}}" ng-if="!item.state&&item.target">
                        <i ng-class="item.icon" ng-style="::{color:item.iconColor}"></i>
                    </a>
                    <div ng-style="::{color:item.iconColor}" ng-bind="item.label" ng-if="item.label"></div>
                </div>
            </div></script></ion-content></ion-view>